input.form-control {
    border-left-width: 5px;
}

.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.nav-item.toolbaritem a {
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 100px;
    font-weight: bold;
}


.completed {
    text-decoration: line-through;
}

.form-check {
    margin: 0;
}


.inline-label {
    width: 100%;
    min-height: 1rem;
    display: inline-block;
}

.inline-editor {
    width: 100%;
}

.description-form-group {
    margin-bottom: 5px;
}

.actionBtn-form-group {
    margin: 0;
}

.edit-last-separator-hr {
    margin: 10px 0;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: right;
}

.marginTop20{
    margin-top: 20px !important;
  }
  mat-form-field {
    width: 100%;
  }
  mat-checkbox {
    padding-bottom: 5px;
  }

  .marginTop100{
    margin-top: 100px !important;
  }