<form *ngIf="formResetToggle" name="taskEditorForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
      (!groupName.valid && showErrorAlert('Task name is required', 'Please enter a name for the task'));">


  <Section>
    <div class="form-group row">
      <label class="col-form-label col-md-3" for="groupName">{{'Group Name' | translate}}:</label>
      <div class="col-md-9">
        <input appAutofocus type="text" id="groupName" name="groupName" placeholder="Enter task name"
          class="form-control"
          [ngClass]="{'is-valid': f.submitted && groupName.valid, 'is-invalid' : f.submitted && !groupName.valid}"
          [(ngModel)]="group.name" #groupName="ngModel" required />
        <span *ngIf="f.submitted && !groupName.valid" class="invalid-feedback">
          {{'Group Name Required' | translate}}
        </span>
      </div>
    </div>

    <div class="form-group row description-form-group">
      <label class="col-form-label col-md-3" for="groupDescription">{{'Group Description' | translate}}:</label>
      <div class="col-md-9">
        <input type="text" id="groupDescription" name="groupDescription" placeholder="Enter task description"
          class="form-control" [(ngModel)]="group.description" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3" for="reference">{{'Group Reference' | translate}}:</label>
      <div class="col-md-9">
        <input appAutofocus type="text" id="reference" name="reference" placeholder="Enter task name"
          class="form-control"
          [ngClass]="{'is-valid': f.submitted && reference.valid, 'is-invalid' : f.submitted && !reference.valid}"
          [(ngModel)]="group.name" #reference="ngModel" required />
        <span *ngIf="f.submitted && !reference.valid" class="invalid-feedback">
          {{'Group Name Required' | translate}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3" for="ownerPSID">{{'Group Owner PSID' | translate}}:</label>
      <div class="col-md-9">
        <input appAutofocus type="text" id="ownerPSID" name="ownerPSID" placeholder="Enter task name"
          class="form-control"
          [ngClass]="{'is-valid': f.submitted && ownerPSID.valid, 'is-invalid' : f.submitted && !ownerPSID.valid}"
          [(ngModel)]="group.name" #ownerPSID="ngModel" required />
        <span *ngIf="f.submitted && !ownerPSID.valid" class="invalid-feedback">
          {{'Group Name Required' | translate}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3" for="ownerName">{{'Group Owner Name' | translate}}:</label>
      <div class="col-md-9">
        <input appAutofocus type="text" id="ownerName" name="ownerName" placeholder="Enter task name"
          class="form-control"
          [ngClass]="{'is-valid': f.submitted && ownerName.valid, 'is-invalid' : f.submitted && !ownerName.valid}"
          [(ngModel)]="group.name" #ownerName="ngModel" required />
        <span *ngIf="f.submitted && !ownerName.valid" class="invalid-feedback">
          {{'Group Name Required' | translate}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3" for="countries">{{'Countries' | translate}}:</label>
      <div class="col-md-9">
        <input appAutofocus type="text" id="countries" name="countries" placeholder="Enter task name"
          class="form-control"
          [ngClass]="{'is-valid': f.submitted && countries.valid, 'is-invalid' : f.submitted && !countries.valid}"
          [(ngModel)]="group.name" #countries="ngModel" required />
        <span *ngIf="f.submitted && !countries.valid" class="invalid-feedback">
          {{'Group Name Required' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <label class="col-form-label col-md-3"> </label>
      <div class="col-md-9">
        <div class="form-check">
          <input class="form-check-input" id="active" name="active" type="checkbox" [(ngModel)]="group.important">
          <label for="active" class="form-check-label">{{'Active' | translate}}</label>
        </div>
      </div>
    </div>
  </Section>

  <Section>
    <table>
      <caption>All Modules</caption>
      <tr>
        <th>
          <div class="center">
            <input class="form-check-input" id="active" name="selectAll" type="checkbox"
              (change)="handleSelectAll($event)">
          </div>
        </th>
        <th>Module</th>
        <th>View</th>
        <th>Insert</th>
        <th>Update</th>
        <th>Authorize</th>
        <th>Reject</th>
        <th>Delete</th>
      </tr>
      <ng-container *ngFor="let item of data">
        <tr>
          <td>
            <div class="center">
              <input class="form-check-input" id="active" name="selectAll-{{item.id}}" type="checkbox"
                [(ngModel)]="item.view && item.insert && item.update && item.authorize && item.reject && item.delete"
                (change)="handleCheckBoxChange($event,item)">
            </div>
          </td>
          <td>{{item.name}}</td>
          <td>
            <div class="center">
              <input class="form-check-input" name="active-view-{{item.id}}" type="checkbox" [(ngModel)]="item.view">
            </div>
          </td>
          <td>
            <div class="center">
              <input class="form-check-input" name="active-insert-{{item.id}}" type="checkbox"
                [(ngModel)]="item.insert">
            </div>
          </td>

          <td>
            <div class="center"><input class="form-check-input" name="active-update-{{item.id}}" type="checkbox"
                [(ngModel)]="item.update">
            </div>
          </td>
          <td>
            <div class="center"><input class="form-check-input" name="active-authorize-{{item.id}}" type="checkbox"
                [(ngModel)]="item.authorize"></div>
          </td>
          <td>
            <div class="center"><input class="form-check-input" name="active-reject-{{item.id}}" type="checkbox"
                [(ngModel)]="item.reject">
            </div>
          </td>
          <td>
            <div class="center"><input class="form-check-input" name="active-delete-{{item.id}}" type="checkbox"
                [(ngModel)]="item.delete">
            </div>
          </td>
        </tr>
      </ng-container>

    </table>
  </Section>

  <div class="row">
    <div class="col-md-12">
      <hr class="edit-last-separator-hr" />
    </div>
  </div>


  <div class="col-sm-7 flex">
    <!-- <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-outline-secondary">
        <i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
      <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-outline-secondary">
        <i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button> -->
    <button type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving">
      <i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
    <button type="submit" class="btn btn-primary" [disabled]="isSaving">
      <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'>
      </i> {{isSaving
      ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
    </button>
  </div>
  <div class="clearfix"></div>
</form>